// Tablets & Smaller
@media (max-width: 900px) {
  #header-home {
    height: 30rem;
    .header-content {
      padding-top: 5rem;
    }
  }
  #intro {
    &-stack .grid {
      grid-template-areas:
        'heading1'
        'biojs'
        'js'
        'heading2'
        'biopython'
        'python';
    }
  }
  .bc-main {
    &-a {
      #main-logo {
        width: 100px;
        height: 100px;
      }
    }
  }
  #portfolio-process {
    .process {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  #portfolio-examples {
    // background-color: $main-color;
    .cards-container {
      gap: 0.5rem;
      .item-1 {
        width: 100%;
      }
    }
  }
  #civileng {
    &-experience {
      .specials {
        & > * > p {
          display: none;
        }
      }
    }
  }
}
// Smartphones
@media (max-width: 500px) {
  iframe {
    max-width: 100%;
  }
  #main-nav {
    align-items: center;
    flex-direction: column;

    .logo_burger {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      a {
        padding: 0;
        display: flex;
        align-items: center;
      }
    }
    ul {
      // display: flex;
      flex-direction: column;
    }

    #menu {
      display: none;
      &.hidden {
        display: block;
      }
    }
    .burger-menu {
      display: flex;
      align-items: center;
    }
    li {
      padding: 1rem;
      text-align: center;
    }
  }
  // Stack Grid Columns
  #intro-skills .specials-tech,
  #intro-process .process,
  #about-clients .testimonials,
  #contact-info .contact-info_items,
  .items {
    grid-template-columns: 1fr;
  }
  #portfolio-software .portfolio-logos,
  #data-stats .stats {
    grid-template-columns: repeat(2, 1fr);
    & > * {
      display: grid;
      place-content: center;
    }
  }
  // Home
  #home {
    &-experience {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;
        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
    &-stats {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }
  // Intro
  #intro {
    &-stack .grid {
      grid-template-areas:
        'heading1'
        'biojs'
        'js'
        'heading2'
        'python'
        'biopython';
    }

    &-current {
      text-align: center;
      .current-desc {
        padding: 0.5rem;
        display: grid;
        grid-template-areas:
          'desc'
          'bestimage';
        gap: 1rem;
      }
    }
  }
  // Portfolio
  #portfolio-examples {
    .cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      .item-1 {
        width: 100%;
      }
    }
  }
  .portfolio_2 {
    &-cards {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 100%;
      min-height: 600px;
    }
    &-card {
      flex: 1;
      width: 100%;
      min-height: 60px;
      background-size: 100% auto;
      background-position: center;
      &.active {
        flex-grow: 20;
      }
      .detail {
        .info > * {
          font-size: 0.8rem;
        }
      }
    }
    & > :not(.active) {
      flex-grow: 1;
      .detail {
        bottom: 2%;
        left: 20px;
        .info > * {
          left: 20px;
          opacity: 0;
        }
      }
    }
  }
  // Contact
  #contact {
    &-form {
      .text-fields {
        grid-template-areas:
          'name'
          'email'
          'subject'
          'phone'
          'message';
      }
    }
    &-a {
      div {
        margin-bottom: 1rem;
        border-bottom: 1px #555 solid;
        padding-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }
  // Footer
  #main-footer {
    height: auto;
    .footer-content {
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      height: auto;
      .social {
        margin-bottom: 1.5rem;
      }
    }
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}
@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
