@use 'sass:math';

#intro {
  margin: 2rem 0 3rem;
  .intro-stack {
    .flex {
      margin: 3rem;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: $light-color;
    }

    .js {
      .general {
        background: url('img/icons/code.svg') no-repeat center center;
        background-size: 80%;
      }
    }
    .js {
      $wrap_size: 300px;
      $item_size: 60px;
      $num_of_items: 8;
      padding: 1rem;
      cursor: pointer;
      position: relative;

      .general {
        width: $wrap_size;
        height: $wrap_size;
        position: relative;

        div {
          // opacity: 0;
          width: $item_size;
          height: $item_size;
          text-align: center;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          transform-origin: math.div($wrap_size, 2) math.div($wrap_size, 2);

          @for $i from 1 through $num_of_items {
            $deg: math.div(360, $num_of_items) * ($i - 1);
            $rotation: $deg * 1deg;
            &:nth-child(#{$i}) {
              transform: rotateZ($rotation);
              img {
                transform: rotateZ(-$rotation);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #intro {
    margin: 2rem 0 3rem;
    .intro-stack {
      .flex {
        margin: 2rem;
      }
    }
  }
}
