// Portfolio Sections
#portfolio {
  color: $dark-color;

  .portfolio-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $dark-color;
    a {
      color: $dark-color;
      text-decoration: underline;
    }
  }

  .intro-process {
    color: $dark-color;
    .process {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-gap: 1.5rem;
      text-align: center;

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 0.5s;
        display: grid;
        place-content: center;
      }

      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 1s;
        }
        &:hover {
          background: $main-color;
          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}
