// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  height: 5rem;
  align-items: center;

  .footer-content {
    .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}
