// Header
#header {
  // Header intro
  &-main {
    .header__intro {
      // background-color: $main-color;
      height: 100vh;
      position: relative;
      background: linear-gradient(
          180deg,
          rgba(40, 40, 40, 0.2) 0%,
          rgba(17, 17, 17, 0.6) 100%
        ),
        $bg-image no-repeat 20% 25% / cover;
      height: 50vh;
      font-size: 1.2rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      #main-logo {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 150px;
        height: 150px;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }

  .header-content {
    padding-top: 5rem;
    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }
    p {
      font-weight: bold;
    }
  }
}
