// Main Nav
#main-nav {
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  ul {
    display: flex;
  }
  .burger-menu {
    &_svg {
      width: 2rem;
      height: 2rem;
    }
  }
  .hidden {
    display: none;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    &:hover {
      border-color: $medium-color;
    }
    &.current {
      border-color: $dark-color;
    }
  }
}
