.card {
  --height: 25rem;
  --width: 100%;
  perspective: 150rem;
  position: relative;
  height: var(--height);
  width: var(--width);

  &__side {
    background-color: $light-color;
    height: var(--height);
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba($dark-color, 0.2);
    overflow: hidden;
    &--front {
      background-color: $light-color;
    }
    &--back {
      transform: rotateY(-180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($medium-color, 0.3),
          $medium-color
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($main-color, 0.3),
          $main-color
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background: no-repeat 50% 50% / cover;
    background-size: contain;
    height: 80%;
    background-blend-mode: multiply;
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($dark-color, 0.1),
          transparent
        ),
        url('img/pj/main_1.gif');
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($dark-color, 0.1),
          transparent
        ),
        url('img/pj/main_2.gif');
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($dark-color, 0.1),
          transparent
        ),
        url('img/pj/main_3.gif');
    }
  }
  &__heading {
    box-sizing: border-box;
    height: 20%;
    color: $dark-color;
    padding: 0.5rem 0;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }

  &__info {
    color: $dark-color;
    text-align: center;
    margin-bottom: 2rem;
  }

  // Media Queries
  @media (max-width: 900px) {
    --height: 20rem;
    height: var(--height);
    &__side {
      box-shadow: 3px 3px 5px rgba($dark-color, 0.2);
    }
    &__picture {
      height: 80%;
    }
    &__heading {
      height: 20%;
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: 500px), only screen and (hover: none) {
    // padding: 3rem 0;
    // height: auto;
    // border-radius: 5px;
    // &__side {
    //   height: 25rem;
    //   transition: all 1s ease;
    //   position: relative;
    //   box-shadow: none;
    // &--back {
    //   height: 10rem;
    //   transform: rotateY(0);
    //   clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
    //   &__cta {
    //     position: relative;
    //     top: 0;
    //     left: 0;
    //     transform: translate(0);
    //     width: 100%;
    //     padding: 2rem;
    //   }
    // }
    // }
    // &:hover &__side--front {
    //   // transform: rotateY(0);
    // }
  }
}
