// Footer
#main-footer {
  background: $dark-color;
  color: $light-color;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  height: 5rem;
  align-items: center;

  .footer-content {
    a {
      color: $light-color;
    }
    .fab {
      margin-right: 1rem;
      border: 2px $light-color solid;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $medium-color;
      }
    }
  }
}

@media (max-width: 500px) {
  //Footer
  #main-footer {
    height: auto;
    .footer-content {
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      height: auto;
      .social {
        margin-bottom: 1.5rem;
      }
    }
  }
}
