// Header
#header {
  .intro {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    h1 span {
      font-size: 3rem;
    }
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      a {
        color: $main-color;
        text-decoration: wavy underline;
        font-weight: bold;
      }
    }

    img {
      --s: 250px; /* image size */
      --b: 3px; /* border thickness */
      --c: #ffff; /* border color */
      --f: 1; /* initial scale */
      width: var(--s);
      aspect-ratio: 1;
      padding-top: calc(var(--s) / 5);
      cursor: pointer;
      border-radius: 0 0 999px 999px;
      --_g: 50% / calc(100% / var(--f)) 100% no-repeat content-box;
      --_o: calc((1 / var(--f) - 1) * var(--s) / 2 - var(--b));
      outline: var(--b) solid var(--c);
      outline-offset: var(--_o);
      background: radial-gradient(
          circle closest-side,
          #781d42 calc(99% - var(--b)),
          var(--c) calc(100% - var(--b)) 99%,
          #0000
        )
        var(--_g);
      -webkit-mask: linear-gradient(#000 0 0) no-repeat 50%
          calc(1px - var(--_o)) / calc(100% / var(--f) - 2 * var(--b) - 2px) 50%,
        radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);
      transform: scale(var(--f));
      transition: 0.5s;
    }
    img:hover {
      --f: 1.2;
    }
  }
}

@media (max-width: 500px) {
  #header {
    .intro {
      padding-top: 2rem;
      flex-direction: column;
      gap: 0.5rem;

      h1 span {
        font-size: 2rem;
      }
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
