.animation-body {
  margin: 60px auto;
  width: 80vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .center-stack {
    position: absolute;
    width: 100px;
    height: 100px;
    background: no-repeat 50% 50% / cover;
    background-size: contain;
    background-image: url('img/icons/react.svg');
    z-index: 5;
  }

  .logos-container {
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: scaleX(5);

    .route {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: rotate 12s infinite linear;
      position: absolute;

      .logo-box {
        width: 45px;
        height: 45px;
        position: absolute;
        animation: correct 12s infinite linear;

        .stack-logo {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          transform: scaleX(0.2);
          background-size: contain;
        }
      }
    }
    @for $i from 1 through 3 {
      .route#{$i} {
        animation-delay: calc(#{$i} * -3s);
        .logo-box#{$i} {
          animation-delay: calc(#{$i} * -3s);
          .stack-logo#{$i} {
            background-image: url('img/icons/logo_#{$i}.svg');
          }
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes correct {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
