@keyframes afterwards {
  0% {
    transform: translateX(-100%);
    background-image: linear-gradient(
      to right,
      #781d42,
      #812341,
      #9a373e,
      #a64741
    );
  }
  50% {
    transform: translateX(0%);
    background-image: linear-gradient(
      to bottom,
      #781d42,
      #812341,
      #9a373e,
      #a64741
    );
  }
  75% {
    background-image: linear-gradient(
      to left,
      #781d42,
      #812341,
      #9a373e,
      #a64741
    );
  }
  100% {
    transform: translateX(100%);
  }
}
