// Variables
$website-width: 1280px;
$main-color: #781d42;
$light-color: #ffff;
$medium-color: #a3423c;
$dark-color: #333;
$bg-image: url("img/fondo_1.jpeg");
$bg-image-civil: url("img/fondo_civil.jpg");
$bg-image-tech: url("img/fondo_tech.jpg");
